*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-width: 10px;
    min-height: 10px;
    border: 1px red dashed;
}
body{
    flex-grow: 0;
    overflow: hidden;
    height: 100vh;
}

#top-section{
    background-color: #FCFDFD;
}

.h-top{
    height:50px;  /*se si cambia va cambiato anche h-bot*/
}
.h-bot{
height: calc( 100vh - 50px );    /*se si cambia va cambiato anche h-top*/
}

.search{
    font-size: 1.5rem;
    margin: auto 0.5rem;
    }


.s-bar{
    width: 100%;
    padding: 0;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 8px;

}

.colonna{       /*classe per contenuti display column off bootstrap*/
    display: flex;
    flex-direction: column;
}
nav .container-fluid .col-1{
    flex-basis: content;
}

.col-2.nav-left{
    justify-content: space-between;
}

.scrollabile{
    overflow:auto;

}

.center{
    display: flex;
    align-items: center;
}

#left-section{
    background-color: #051E34;
    color: white;
    width: 150px;
}

#left-section a{
    text-decoration: none;
    color: white;
}

                                /*********** Badge blu**********/

 .azzurro{
    background-color: #1B72E8;
 }                               