*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-width: 10px;
    min-height: 10px;
    border: 1px red dashed;
}
body{
    flex-grow: 0;

    height: 100vh;
}


a:hover {
    color: white;

}

a {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

#top-section{
    background-color: #FCFDFD;
}

.h-top{
    height:50px;  /*se si cambia va cambiato anche h-bot*/
}
.h-bot{
height: calc( 100vh - 50px );    /*se si cambia va cambiato anche h-top*/
}

.search{
    font-size: 1.5rem;
    margin: auto 0.5rem;
    }


.s-bar{
    width: 100%;
    padding: 0;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 8px;

}

.colonna{       /*classe per contenuti display column off bootstrap*/
    display: flex;
    flex-direction: column;
}
nav .container-fluid .col-1{
    flex-basis: content;
}

.col-2.nav-left{
    justify-content: space-between;
}
/************************************************* MAIN SECTION ***************************************************/
.scrollabile{
    overflow:auto;

}

.center{
    display: flex;
    align-items: center;
}

#left-section{
    background-color: #051E34;
    color: white;
    width: 150px;
    flex-shrink: 0;
}

#left-section a{
    text-decoration: none;
    color: white;
}



.badge.top{                             /*********** Badge blu**********/
    background-color: #165BBA;
} 

#left-badge-container{
    min-width: 520px;
    max-width: 580px;
}

 .azzurro{
    background-color: #1B72E8;
    max-height: 130px;
    flex-shrink: 0;
 }
 
 #plus{
    width: 1.6rem;
 }
 
 .oversized{
    font-size: 30px ;
 }
 
 #squared-plus{
    width:  calc(1.325rem + .9vw);
    height:  calc(1.325rem + .9vw);
 }


 /************************************************* CARD SECTION ***********************************************************/


ul li img{
    width: 30px;
}

.list-group-item{
    padding: 0;
    margin: 0;
}

.list-group-item .row{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}
.no-m-p{
    padding: 0 2px;
    height: 50px;
    
}


 /************************************************ MEDIA QUERIES **************************************************/

@media screen and ( max-width: 1200px){
    #left-badge-container{
        min-width: 225px;
    }

}   
@media screen and ( max-width: 767px){
    .azzurro{
        max-height: 300px;
     }
}